.main_title{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
.dishes_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dishes_list li {
    list-style: none;
    box-shadow: 0 4px 15px rgb(0, 0, 0, 0.1) ;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: scale 0.4s ease;
    padding-left: 5px;
}
.dishes_list li:hover{
    scale: 1.01;
}
.image {
    width: 300px;
    border-radius: 20px;
}
.title {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}
.descriptoin {
    font-size: 18px;
}
.price {
}
